<div id="header" style="padding:30px">
    <h1><a class="logo" style="text-decoration:none" href="https://lit-anchorage-62341.herokuapp.com/">PolliFy</a></h1>
    <h4>Free poll generation app powered by Fyminds</h4>
</div>