<div id="about" style="padding:65px">
    <div class="row">
        <div class="col-md-8">
            <h4>Make your startup</h4>
            <h5 style="padding-bottom:10px">Dream a reality</h5>
            <p>Fyminds is an integrated service company that offers clients a range of services from marketing, operation, technology, strategy and advanced analytics. Our unique approach is solution driven and result delivery. We help our clients develop, implement and realize solutions.</p>
            <div class="text-center">
                <img width="60%" height="auto" src="../../images/plant-image.png">
            </div>
        </div>
        <div class="col-md-4 text-center">
            <img style="margin-left: 10px; margin-top:20px" width="60%" height="auto" src="../../images/fyminds_brochure.jpg">
            <div style="padding-top:20px">
                <a href="http://www.fyminds.com/wp-content/uploads/2017/02/fyminds_brochure.pdf">Click for more details</a>
            </div>
        </div>
    </div>
</div>