<div id="contact" style="padding:30px">
    <h3>Contact</h3>
    <hr/>
    <h5>Address</h5>
    <p>6700 Best Friend Rd.</p>
    <p>Norcross, GA 30071</p>
    <h5>Email</h5>
    <p>info@fyminds.com</p>
</div>