<div id="header" style="padding:30px">
    <div style="float:right"><a href="/">English</a></div>
    <h1><a class="logo" style="text-decoration:none" href="https://lit-anchorage-62341.herokuapp.com/zh">PolliFy</a></h1>
    <h4>富漫国际投票系统</h4>
</div>